@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #4493AC;
  background-color: #f9fafb; /* gray-50 fallback */
}

input, select, button {
  background-color: white;
}

button {
  cursor: pointer;
}
