* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

input, select, button {
  background-color: white !important;
}
